<% provide :title, t(".all_user") %>
<h1><%= t ".all_user" %></h1>
  <div class="col-md-12">
    <div class="form-inline col-md-4 search">
      <%= form_tag users_path, remote: true,  method: :get do %>
        <div class= " col-md-7 "><%= text_field_tag :search, params[:search],
          placeholder: t(".name"), class: "form-control" %></div>
        <div class= "submit_tag col-md-4 btn_submit "><%= submit_tag t(".submit"), 
          class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
<div class="list_users">
  <%= render @users %>
</div>
